@model CoolerFormModel

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form method="post">
            <div class="form-group mt-2">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" placeholder="Name...">
                <span asp-validation-for="Name" class="small text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="Price"></label>
                <input asp-for="Price" class="form-control" placeholder="Price...">
                <span asp-validation-for="Price" class="small text-danger"></span>
            </div>
            <div class="row mt-2">
                <div class="form-group">
                    <label asp-for="Type"></label>
                    <select asp-for="Type" class="form-control" onchange="updateForm()">
                        <option value="0" selected>Air</option>
                        <option value="1">Water</option>
                    </select>
                    <span asp-validation-for="Type" class="text-danger"></span>
                </div>
                <div id="airForm" class="row mt-2">
                    <div class="form-group col-md-6">
                        <label asp-for="CoolerHeight"></label>
                        <input asp-for="CoolerHeight" class="form-control" value="30" placeholder="Cooler Height">
                        <span asp-validation-for="CoolerHeight" class="small text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="Width"></label>
                        <input asp-for="Width" class="form-control" value="30" placeholder="Cooler Width">
                        <span asp-validation-for="Width" class="small text-danger"></span>
                    </div>
                </div>
                <div id="waterForm" class="d-none">
                    <div class="form-group col-md-6 mt-2">
                        <label asp-for="RadiatorSize"></label>
                        <select asp-for="RadiatorSize" class="form-control">
                            <option value="0">120</option>
                            <option value="1">240</option>
                            <option value="2">360</option>
                            <option value="3">280</option>
                            <option value="4">420</option>
                        </select>
                        <span asp-validation-for="RadiatorSize" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <script src="~/js/chooseCooler.js"></script>

            <div class="form-group mt-2">
                <label asp-for="Compatibility"></label>
                <input asp-for="Compatibility" class="form-control" placeholder="Cpu Compatibility Socket List...">                <span asp-validation-for="Compatibility" class="small text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="FanSize"></label>
                <input asp-for="FanSize" class="form-control" placeholder="Fan size in mm.">
                <span asp-validation-for="FanSize" class="small text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="Tdp"></label>
                <input asp-for="Tdp" class="form-control" placeholder="Thermal Design Point...">
                <span asp-validation-for="Tdp" class="small text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="ImageUrl"></label>
                <input asp-for="ImageUrl" class="form-control" placeholder="Your Image URL here...">
                <span asp-validation-for="ImageUrl" class="small text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="Description"></label>
                <textarea asp-for="Description" rows="4" class="form-control" placeholder="Describe your component here..."></textarea>
                <span asp-validation-for="Description" class="small text-danger"></span>
            </div>
            <div class="text-center">
                <input class="btn btn-primary mt-4" type="submit" value="Submit" />
            </div>
        </form>
    </div>
</div>

