﻿@using PCHCB.Services.Data.Contracts;
@using PCHCB.Web.Infrastructure.Extensions
@model AllViewModel

<div class="col-md-3">
    <div class="card mb-4">
        <img class="card-img-top img-thumbnail" src="@Model.ImageUrl" alt="image">
        <div class="card-body text-center">
            <h6>@Model.Name</h6>
            <p>Description: <b>@Model.Description</b></p>
            <p>Price:<b>$@($"{Model.Price:f2}")</b></p>
            <br />
            <a asp-area="" asp-controller="Cooler" asp-action="Details" asp-route-id="@Model.Id" class="btn btn-outline-info">Details</a>
        </div>
    </div>
</div>