@using Microsoft.AspNetCore.Identity
@using PCHCB.Data.Models;
@using PCHCB.Services.Data.Contracts;
@using PCHCB.Web.Infrastructure.Extensions;
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject IProviderService providerService
@{
    bool isUserProvider = await this.providerService.ProviderExistsByUserIdAsync(this.User.GetId()!);
}

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello, @User.Identity?.Name!</a>
        </li>
        @if (!isUserProvider)
        {
            <li class="nav-item">
                <a class="nav-link text-light" asp-area="" asp-controller="Provider" asp-action="BecomeProvider">Sign Up as Provider</a>
            </li>         
        }
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-light">Sign Out</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="" asp-controller="User" asp-action="Register">Sign Up</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="" asp-controller="User" asp-action="Login">Sign In</a>
        </li>
    }
</ul>
