@using PCHCB.Services.Data.Contracts;
@using PCHCB.Web.Infrastructure.Extensions;
@inject ICpuService CpuService
@inject IProviderService ProviderService

@model PCHCB.Web.ViewModels.Provider.MineViewModel
@{
    bool isUserProvider = await ProviderService.ProviderExistsByUserIdAsync(User.GetId()!);
    var cpus = await ProviderService.AllCpusByProviderIdAsync(User.GetId()!);
}
<div class="row">
    @if (Model.Cpus.Any())
    {
        <h3>CPUs</h3>
        <hr />
        @foreach (var item in Model.Cpus)
        {
            <div class="col-md-4">
                <div class="card mb-3">
                    <img class="card-img-top img-thumbnail" src="@item.ImageUrl" alt="image">
                    <div class="card-body text-center">
                        <p>@item.Name</p>
                        <p>@item.Price</p>
                        <p><a class="btn btn-outline-info" asp-area="" asp-controller="Cpu" asp-action="Details" asp-route-id="@item.Id">Details</a></p>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <p class="mt-2">
            You dont have any CPUs Yet! Add More to be able to view them!
            <a class="btn btn-outline-primary" asp-area="" asp-controller="Cpu" asp-action="Add">Add CPU</a>
        </p>
    }
</div>