@using PCHCB.Services.Data.Contracts;
@using PCHCB.Web.Infrastructure.Extensions;

@model MineViewModel

<div class="row">
    @if (Model.Motherboards.Any())
    {
        <h3>Motherboards</h3>
        <hr />
        @foreach (var item in Model.Motherboards)
        {
            <div class="col-md-4">
                <div class="card mb-3">
                    <img class="card-img-top img-thumbnail" src="@item.ImageUrl" alt="image">
                    <div class="card-body text-center">
                        <p>@item.Name</p>
                        <p>$@($"{item.Price:f2}")</p>
                        <p><a class="btn btn-outline-info" asp-area="" asp-controller="Motherboard" asp-action="Details" asp-route-information="@item.GetUrlInformation()" asp-route-id="@item.Id">Details</a></p>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <p class="mt-2">
            You dont have any Motherboards Yet! Add More to be able to view them!
            <a class="btn btn-outline-primary" asp-area="" asp-controller="Motherboard" asp-action="Add">Add Motherboard</a>
        </p>
    }
</div>