@model SaveConfigurationFormModel

@{
    ViewData["Title"] = "Assemble PC";
}

<h3 class="text-center">@ViewData["Title"]</h3>
<hr />

<form method="post">
    <div class="form-group">
        <partial name="_AssembleCpuPartial" />
    </div>
    <div class="form-group">
        <partial name="_AssembleGpuPartial" />
    </div>
    <div class="form-group">
        <partial name="_AssembleMotherboardPartial" />
    </div>
    <div class="form-group">
        <partial name="_AssembleCasePartial" />
    </div>
    <div class="form-group">
        <partial name="_AssembleCoolerPartial" />
    </div>
    <div class="form-group">
        <partial name="_AssembleRamPartial" />
    </div>
    <div class="form-group">
        <partial name="_AssembleStoragePartial" />
    </div>
    <div class="form-group">
        <partial name="_AssemblePsuPartial" />
    </div>

    <button type="submit" class="btn btn-primary">Assemble My PC</button>
</form>