@model List<PcConfigurationViewModel>

@{
    ViewData["Title"] = "My Pc Builds";
}

<h3 class="text-center">@ViewData["Title"]</h3>
<hr />

<a class="btn btn-outline-success" asp-controller="PcConfiguration" asp-action="Assemble">&lt;&lt; Back to Assemble PC</a>

<partial name="_PcConfigurationPartial" />