@using PCHCB.Services.Data.Contracts;
@using PCHCB.Web.Infrastructure.Extensions;
@model MineViewModel
@{
    ViewData["Title"] = "My Hardware";
}

<h3 class="text-center">@ViewData["Title"]</h3>
<hr />

<partial name="_MyCasesPartial" />
<partial name="_MyCoolersPartial" />
<partial name="_MyCpusPartial" />
<partial name="_MyGpusPartial" />
<partial name="_MyMotherboardsPartial" />
<partial name="_MyPsusPartial" />
<partial name="_MyRamsPartial" />
<partial name="_MyStoragesPartial" />
