@model CoolerFormModel
@{
    ViewData["Title"] = "Edit CPU Cooler";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />

<partial name="_CoolerFormPartial" model="@Model" />

@section Scripts
    {
    <partial name="_ValidationScriptsPartial" />
}
