@using PCHCB.Services.Data.Contracts;
@using PCHCB.Web.Infrastructure.Extensions;

@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h3 class="mt-5">Build your PC today!</h3>
</div>
