@model PsuFormModel
@{
    ViewData["Title"] = "Add Power Supply Unit";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />

<partial name="_PsuFormPartial" model="@Model"/>

@section Scripts
{
    <partial name="_ValidationScriptsPartial"/>
}
