@model MotherboardFormModel
@{
    ViewData["Title"] = "Add PC Motherboard";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />

<partial name="_MotherboardFormPartial" model="@Model"/>

@section Scripts
{
    <partial name="_ValidationScriptsPartial"/>
}
